body{
    background:green;
}
h1{
    font-size:40px;
    margin-left:410px;
    margin-top:60px;
}
.occ{
    margin-left:300px;
    margin-top:50px;
}
.oc{
    margin-left:470px;
    margin-top:60px;
}
